<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
   <requestFiltering>
                <hiddenSegments>
                    <!-- Remove the /bin segment -->
                    <remove segment="bin" />
                </hiddenSegments>
   </requestFiltering>
  <httpErrors errorMode="Detailed" /> 
    <handlers>
      <add name="iisnode" path="bin/www.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="bin/www.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
